.block-second {

  background-image: url(/img/back2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;

  @media screen and (max-width: 768px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__top {

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: 768px) {
      gap: 30px;
      justify-content: normal;
    }

    &-logo {
      transform: scale(0.9);

      @media screen and (max-width: 768px) {
        transform: scale(0.5);
        width: 200px;
      }

    }

    &-line {
      border: 1px solid;
      width: 317px;
      color: azure;

      @media screen and (max-width: 768px) {
        width: 130px;
      }

    }

    &-text {
      font-size: 50px;
      color: azure;
      letter-spacing: 5px;

      @media screen and (max-width: 768px) {
        width: 300px;
        font-size: 30px;
        white-space: nowrap;
      }

    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5px;

    &-empty_1 {
      width: 299px;

      @media screen and (max-width: 768px) {
        width: 50px;
      }
    }

    &-empty_2 {
      width: 317px;

      @media screen and (max-width: 768px) {
        width: 50px;
      }
    }

    &-text {

      width: 483.16px;

      &-bold {
        color: azure;
        font-size: 25px;
        font-weight: bold;
      }

      &-down {
        color: azure;
        font-size: 20px;
      }

      &-date {
        color: azure;
        font-size: 20px;
        padding-left: 60%;
      }


    }

  }

}