.block-fourth {

  padding-top: 130px;
  padding-bottom: 130px;

  &__integration-top {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-line {
      border: solid;
      color: black;
      width: 630px;
    }

    &-text {
      color: black;
      font-size: 30px;
      letter-spacing: 7px;
      white-space: nowrap;
    }

  }

  &__integration-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;


    &-logo {
      margin-top: 150px;
    }
  }

}