.header {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: rgba(19, 19, 21, 0.5);
    justify-content: space-around;
    color: azure;
    z-index: 10;
    position: absolute;
    width: 100%;
}

.header_logo {
    display: contents;
}

.header_list {
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 12px;
}

.header_list_links {
    text-decoration: none;
    color: azure;
}

.header_phone {
    text-decoration: none;
    color: azure;
}