.block-first {
  background-image: url(./headimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.block-first__center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.block-first__center-astronaut {
  border: 1px solid;
  display: flex;
  width: 317px;
  color: azure;
}

.block-first__center-text {
  color: azure;

}

.block-first__center-text_studio {
  font-size: 30px;
}

.block-first__center-text_rion {
  font-size: 100px;
}

.block-first__bottom {
  display: flex;
  color: azure;
  justify-content: space-between;
  align-items: flex-end;
}

.block-first__bottom_instruments {
  font-size: 30px;
  font-weight: bold;
  margin-left: 180px;
  margin-bottom: 100px;
}

.block-first__bottom_date {
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
  margin-bottom: 50px;
}